nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

nav .nav-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

aside {
  position: fixed;
  left: 0;
  top: 50px;
  bottom: 0;
  padding: 10px;
}

li {
  list-style: none;
  padding: 0.5em 0 1em 0;
}

li .sidebar-items {
  font-size: 1em;
  line-height: 1.1;
  font-weight: 500;
}
